USE [master]
GO
/****** Object:  Database [AppealTest]    Script Date: 10/19/2022 7:41:25 PM ******/
CREATE DATABASE [AppealTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AppealTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AppealTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AppealTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AppealTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AppealTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AppealTest]
GO
/****** Object:  Schema [Payment]    Script Date: 10/19/2022 7:41:25 PM ******/
CREATE SCHEMA [Payment]
GO
/****** Object:  Table [Payment].[Advance]    Script Date: 10/19/2022 7:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Payment].[Advance](
	[Id] [uniqueidentifier] NOT NULL,
	[DocNumber] [varchar](20) NOT NULL,
	[Tin] [varchar](15) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[FilePath] [varchar](1000) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_Advance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Payment].[Transfer]    Script Date: 10/19/2022 7:41:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Payment].[Transfer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NULL,
	[AdvanceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Transfer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Advance_Indexes]    Script Date: 10/19/2022 7:41:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Advance_Indexes] ON [Payment].[Advance]
(
	[CreatedAt] ASC,
	[DocNumber] ASC,
	[Tin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transfer_Indexes]    Script Date: 10/19/2022 7:41:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transfer_Indexes] ON [Payment].[Transfer]
(
	[CreatedAt] ASC,
	[AdvanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Payment].[Advance] ADD  CONSTRAINT [DF_Advance_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [Payment].[Advance] ADD  CONSTRAINT [DF_Advance_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Payment].[Transfer] ADD  CONSTRAINT [DF_Transfer_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Payment].[Transfer]  WITH CHECK ADD  CONSTRAINT [FK_Transfer_Advance] FOREIGN KEY([AdvanceId])
REFERENCES [Payment].[Advance] ([Id])
GO
ALTER TABLE [Payment].[Transfer] CHECK CONSTRAINT [FK_Transfer_Advance]
GO
USE [master]
GO
